@import "reset.scss";
@import "KeyBoard_.scss";
@import "KeySelector.scss";
@import "ChordThumbnail.scss";
@import "ChordSelector.scss";
@import "ChordDetail.scss";
@import "Playbox.scss";
@import "IndexPage.scss";

$footer-height: 70px;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  min-height: calc(100vh - #{$footer-height});
}

footer {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: rgb(95, 95, 95);
  }
  a.no-decoration {
    text-decoration: none;
  }
  b {
    font-weight: bold;
  }
}

#app {
  min-height: 100%;
  box-sizing: border-box;
}
