@import "colors";
@import "UI";

.chordSelector-container {
  max-width: 63rem;
  margin: 1rem auto;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  input {
    @include text-input;
    width: 100%;
    margin-bottom: 1rem;
    @for $i from 1 through 17 {
      &.color-#{$i}:focus {
        border-color: nth($rainbow-17, $i);
        box-shadow: 0 0 0 0.125em adjust-color(nth($rainbow-17, $i), $alpha: -0.9);
      }
    }
  }
  .chord-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .chord {
      flex-grow: 1;
      padding: 2rem 0.5rem;
      box-sizing: border-box;
      margin: 1px;
      background-color: white;
      text-decoration: none;
      color: black;
      text-align: center;
      &:hover {
        background-color: rgb(226, 226, 226);
      }
      .name {
        font-size: 1rem;
        margin-top: 0.75rem;
      }
    }
  }
}
