@import 'colors';

.keySelector-container {
  width: 3rem * 20;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .keySelector-button {
    display: inline-block;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    border-color: white;
    @for $i from 1 through 17 {
      &.color-#{$i} {
        color: nth($rainbow-17, $i);
      }
      &.color-#{$i}.active {
        color: white;
        border-color: nth($rainbow-17, $i);
        background-color: nth($rainbow-17, $i);
      }
    }
  }
}
