@import "colors";
.nav-container {
    max-width: 63rem;
    margin: 0 auto;
    display: flex;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    padding-bottom: 0.6rem;
    a,
    a:link,
    a:active,
    a:visited,
    a:hover {
        color: rgb(72, 72, 72);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 100%;
        svg {
            margin-right: 0.5rem;
        }
        margin-right: 1rem;
        // box-sizing: border-box;
    }

    a.active {
        border-bottom: 0.2rem solid rgb(95, 95, 95);
    }

    // a:nth-child(1) {
    //     svg {
    //         color: adjust-color(nth($rainbow-light-17, 1), $lightness: -10%);
    //     }
    //     border-bottom-color: adjust-color(nth($rainbow-light-17, 1), $lightness: -10%);;
    // }
}

.navbar {
    max-width: 63rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: black;
    .logo {
        font-size: 1.5rem;
        // background: -webkit-linear-gradient(45deg, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
        // background-clip: border-box;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        font-weight: bold;
        a,
        a:link,
        a:active,
        a:visited,
        a:hover {
            color: rgb(72, 72, 72);
            text-decoration: none;
        }
    }
    .nav-links {
        input[type="checkbox"] {
            display: none;
        }
        label.hamburger {
            display: none;
            font-size: 1.5rem;
            user-select: none;
        }
        .menu {
            display: flex;
            gap: 1em;
            font-size: 1rem;
            li {
                list-style: none;
                padding: 0.2rem 0.6rem;
                a,
                a:link,
                a:active,
                a:visited,
                a:hover {
                    color: rgb(72, 72, 72);
                    text-decoration: none;
                }
                &:hover {
                    font-weight: 600;
                }
            }
        }
        @media (max-width: 768px) {
            input[type="checkbox"]:checked ~ .menu {
                display: block;
            }
            label.hamburger {
                display: block;
            }
            .menu {
                display: none;
                position: absolute;
                background-color: white;
                right: 0;
                left: 0;
                transform: translateY(1rem);
                text-align: center;
                padding: 1rem 0;
                z-index: 9;
                li + li {
                    margin-top: 12px;
                }
            }
        }
    }
}
