@import "colors";
@import "UI";

.playbox-container {
  max-width: 63rem;
  margin: 1rem auto;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;

  button {
    @include button;
    margin-right: 0.5rem;
    width: 10rem;
    @for $i from 1 through 17 {
      &.color-#{$i}:focus:not(:active) {
        box-shadow: 0 0 0 0.125em adjust-color(nth($rainbow-17, $i), $alpha: -0.85);
      }
      &.color-#{$i}:focus {
        border-color: nth($rainbow-17, $i);
        outline: 0;
      }
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}
