@import "colors";
@import "UI";

.whiteboard-container {
    max-width: 63rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    .title-container {
        h1 {
            font-size: 3rem;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
        .menu-container {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.5rem;
            button {
                @include button;
                margin-right: 0.5rem;
                svg {
                    margin-right: 0.3rem;
                }
            }
        }
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;
        background-image: radial-gradient(#efefef 20%, transparent 20%);
        background-color: white;
        background-position: 0 0;
        background-size: 18px 18px;
        .card {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 1rem 0.5rem;
            padding-bottom: 1rem;
            padding-top: 0.5rem;
            background-color: #f5f5f5;
            margin: 1rem 1rem;
            border-radius: 0.3rem;
            box-shadow: 0px 5px 5px 2px rgba(32, 32, 32, 0.1);
            .actions-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                svg {
                    color: #7d7d7d;
                }
                svg.drag {
                    cursor: grab;
                }
                svg.delete {
                    cursor: pointer;
                }
            }
            .name {
                margin-top: 0.3rem;
                overflow-wrap: anywhere;
                text-align: center;
            }
            &.add-card {
                width: 189px;
                background-color: #f5f5f5;
                box-shadow: none;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding: 1rem 0.5rem;
                .option {
                    cursor: pointer;
                    font-size: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #a9a9a9;
                    width: 100%;
                    padding: 0.3rem 0;
                    border-radius: 0.5rem;
                    &:hover {
                        background-color: #e3e3e3;
                    }
                    svg {
                        color: #a9a9a9;
                        margin-left: 0.3rem;
                    }
                }
            }
        }
    }
}

.rename-modal {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    input {
        @include text-input;
        width: 100%;
        margin-bottom: 1rem;
        &:focus {
            border-color: nth($rainbow-17, 5);
            box-shadow: 0 0 0 0.125em adjust-color(nth($rainbow-17, 5), $alpha: -0.9);
        }
    }
    .actions-container {
        display: flex;
        justify-content: flex-end;
        button {
            @include button;
            margin-right: 0.5rem;
            &.highlighted {
                color: white;
                background-color: nth($rainbow-17, 5);
            }
        }
    }
}

.newBoard-modal {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    input {
        @include text-input;
        width: 100%;
        margin-bottom: 1rem;
        &:focus {
            border-color: nth($rainbow-17, 5);
            box-shadow: 0 0 0 0.125em adjust-color(nth($rainbow-17, 5), $alpha: -0.9);
        }
    }
    .actions-container {
        display: flex;
        justify-content: flex-end;
        button {
            @include button;
            margin-right: 0.5rem;
            &.highlighted {
                color: white;
                background-color: nth($rainbow-17, 5);
            }
        }
    }
}

.switchBoard-modal {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .item-container {
        padding: 0.8rem 0.5rem;
        background-color: #f3f3f3;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg.icon {
            color: #484848;
            margin-right: 0.5rem;
        }
        span {
            flex-grow: 1;
        }
        svg.delete {
            color: #7d7d7d;
            &:hover {
                color: #484848;
            }
        }
        &:hover {
            background-color: #d4d4d4;
        }
    }
}

.customizedChord-modal {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .thumbnail {
        text-align: center;
    }
    .intervals-container {
        margin: 1rem 0;
        .item {
            margin-bottom: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span.key {
                width: 2.2rem;
                height: 2.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2rem;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                @for $i from 1 through 17 {
                    &.color-#{$i} {
                        color: white;
                        background-color: nth($rainbow-17, $i);
                    }
                }
            }
            div.interval {
                margin: 0 0.3rem;
                display: flex;
                flex-direction: column;
                div.arrow-container {
                    margin-top: 0.3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -o-user-select: none;
                    svg.action {
                        cursor: pointer;
                        @for $i from 1 through 17 {
                            &.color-#{$i} {
                                color: nth($rainbow-17, $i);
                            }
                        }
                        &[disabled="true"] {
                            cursor: not-allowed;
                            color: #7c7c7c;
                        }
                    }
                    svg.arrow {
                        color: #7c7c7c;
                    }
                }
            }
            svg.delete {
                color: #484848;
                margin-left: 1rem;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                &[disabled="true"] {
                    cursor: not-allowed;
                    color: #7c7c7c;
                }
            }
        }
        button {
            @include button;
            margin-right: 0.5rem;
            width: 10rem;
            svg {
                margin-right: 0.3rem;
            }
        }
    }
    input {
        @include text-input;
        width: 100%;
        margin: 1rem 0;
        &:focus {
            border-color: nth($rainbow-17, 5);
            box-shadow: 0 0 0 0.125em adjust-color(nth($rainbow-17, 5), $alpha: -0.9);
        }
    }
    .actions-container {
        display: flex;
        justify-content: flex-end;
        button {
            @include button;
            margin-right: 0.5rem;
            &.highlighted {
                color: white;
                background-color: nth($rainbow-17, 5);
            }
        }
    }
}
