.whiteboard-container {
    max-width: 63rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    .title-container {
        h1 {
            font-size: 3rem;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
        .menu-container {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.5rem;
            button {
                margin-right: 0.5rem;
                background-color: #fff;
                color: #363636;
                cursor: pointer;
                justify-content: center;
                padding: 0.375em 0.75em;
                white-space: nowrap;
                align-items: center;
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                box-shadow: none;
                display: flex;
                font-size: 0.9rem;
                height: 2.25em;
                -webkit-appearance: none;
                -moz-appearance: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:hover {
                    border-color: #b5b5b5;
                }
                &:active {
                    border-color: #4a4a4a;
                    outline: 0;
                }
                &[disabled] {
                    background-color: #fff;
                    border-color: #dbdbdb;
                    box-shadow: none;
                    opacity: 0.5;
                    cursor: not-allowed;
                }
                svg {
                    margin-right: 0.3rem;
                }
            }
        }
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;
        background-image: radial-gradient(#efefef 20%, transparent 20%);
        background-color: white;
        background-position: 0 0;
        background-size: 18px 18px;
        .card {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 1rem 0.5rem;
            padding-bottom: 1rem;
            padding-top: 0.5rem;
            background-color: #f5f5f5;
            margin: 1rem 1rem;
            border-radius: 0.3rem;
            box-shadow: 0px 5px 5px 2px rgba(32, 32, 32, 0.1);
            .actions-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                svg {
                    color: #7d7d7d;
                }
                svg.drag {
                    cursor: grab;
                }
                svg.delete {
                    cursor: pointer;
                }
            }
            .name {
                margin-top: 0.3rem;
                overflow-wrap: anywhere;
                text-align: center;
            }
        }
    }
}
